/*Global Properties*/

@font-face{
    font-family: workSans;
    src: url('fonts/WorkSans.ttf');
}

@font-face{
    font-family: workSansHeading;
    src: url('fonts/WorkSansHeading.ttf');
}

body{
    font-family: workSans, Arial;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #ffebeb;
    color: #390011;
}

.clearFix{
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header Elements*/

#header{
    background: #860600;
    color: #FEFFFF;
    min-height: 7.5%;
    padding: 1%;
    padding-left: 10%;
    font-size: 20px;
}

#header a{
    color: #FEFFFF;
    text-decoration: none;
}

#sticky{
    position: -webkit- sticky;
    position: sticky;
    top: 0;
    background: #390011;
    z-index: 10;
}

nav ul{
    padding: 0;
    margin: 1.25% 0%;
    list-style: none;
    float: left;
    width: 70%;
}

nav li{
    display: inline;
    font-size: 18px;
    padding-right: 6%;
}

nav a{
    color: #FEFFFF;
    text-decoration: none;
}

nav a:hover{
    color: #CFECEA;
    font-size: 18.2px;
}

/*Showcase Elements*/
#showcase{
    min-height: 400px;
    background: url('images/showcase1.jpg') no-repeat;
    /*Credit:  Photo by AltumCode on Unsplash*/
    background-size: cover;
    text-align: center;
    color: #FEFFFF;
}

#showcase h3{
    font-size: 55px;
    margin-top: 12.5%;
    margin-bottom: 1%;
}

#showcase h1{
    font-size: 55px;
    margin-top: 7.5%;
    margin-bottom: 1%;
}

#contact-box{
    margin: 5% 1%;
}

#contact-lines{
    margin: 1% 1%;
    font-size: 20px;
}

#showcase p{
    margin-top: 5%;
    font-size: 20px;
}

/*Countdown Timer*/
#countdown{
    text-align: center;
    margin-bottom: 5%;
}

#countdown h3{
    font-size: 40px;
    font-weight: 900;
}

#timer{
    font-size: 30px;
    font-weight: 1000;
    color: #FEFFFF;
    background: #860600;
    margin: 0% 37%;
    padding: 2.5%;
}

/*List of Participants*/
#list{
    margin: 10% 10%;
}

#list h1{
    font-size: 25px;
    font-weight: 900;
}

#list div{
    font-size: 20px;
    padding-left: 2%;
}

/*Form Decorations*/

#form-container{
    margin: 5% 12.5%;
}

#form-header{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 2%;
}

#form-elements{
    font-size: 20px;
    font-weight: 600;
    padding-left: 2.5%;
    padding-right: 0%;
    margin-right: 50%;
}

#form-inputs{
    padding-bottom: 1%;
    text-align: right;
}

#form-inputs input{
    width: 50%;
    padding: 0.5% 0.5%;
}

#form-inputs select{
    width: 51.8%;
    padding: 0.5% 0.5%;
}

#form-elements #submit-button{
    margin: 7.5% 50%;
    padding: 2% 0%;
    width: 25%;
}

/*Footer Elements*/
.spacing200{
    margin: 100px 0;
}

#mainFooter{
    background: #390011;
    color: #FEFFFF;
    padding-left: 15%;
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#footBlock1{
    width: 50%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.6em;
}