{% extends 'main.html' %}

{% block content %}

<div id="showcase">
    <div class="container">
        <h1>Contact Us Template</h1>
        <div id="contact-box">
            <div id="contact-lines">Computer Science and Engineering Association,</div>
            <div id="contact-lines">National Institute of Technology Calicut,</div>
            <div id="contact-lines">NITC Campus P.O., Kozhikode</div>
            <div id="contact-lines">PIN: 683 601</div>
            <div id="contact-lines">Email: csea@nitc.ac.in</div>
        </div>
    </div>
</div>
{% endblock %}