{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>
<hr>

<h3>Countdown Timer</h3>
    <script>
        function updateTimer(){
            let event_time = 1641389400000;
            let current_time = new Date();

            let diff=event_time-current_time;

            diff=Math.floor(diff/1000);

            let days=Math.floor(diff/86400);
            diff=diff%86400;
            let hours=Math.floor(diff/3600);
            diff=diff%3600;
            let mins=Math.floor(diff/60);
            let seconds=diff%60;

            document.getElementById("timer").innerHTML=
                '<div>Days: '+days+'</div>'+ 
                '<div>Hours: '+hours+'</div>'+ 
                '<div>Minutes: '+mins+'</div>'+ 
                '<div>Seconds: '+seconds+'</div>';
        }
        setInterval('updateTimer()', 1000);
    </script>
    <div id="timer"></div>
<hr>
<div>
    <div>Registered Participants: </div>
    <div>
        {% for p in participants %}
            <div><h5>#{{p.roll}}: {{p.name}}</h5></div>
        {% endfor %}
    </div>
</div>

{% endblock %}