{% extends 'main.html' %}

{% block content %}
<div id="showcase">
    <div class="container">
        <h3>CSEA HACKATHON 2022</h3>
        <p>With the New Year comes a new chance to show off your skills. Join the CSEA Hackathon, and be eligible to compete at a National Level coming summer.</p>
    </div>    
</div>
<br>

<div id="countdown">
    <h3>COUNTDOWN TILL THE BIG NIGHT</h3>
        <script>
            function updateTimer(){
                let event_time = 1660933800000;
                let current_time = new Date();

                let diff=event_time-current_time;

                diff=Math.floor(diff/1000);

                let days=Math.floor(diff/86400);
                diff=diff%86400;
                let hours=Math.floor(diff/3600);
                diff=diff%3600;
                let mins=Math.floor(diff/60);
                let seconds=diff%60;

                document.getElementById("timer").innerHTML=
                    '<div>'+days+'D '+hours+'H '+mins+'M '+seconds+'S'+'</div>';
            }
            setInterval('updateTimer()', 1000);
        </script>
        <div id="timer"></div>
</div>

<div id="list">
    <h1>Registered Participants: </h1>
    <div>
        {% for p in participants %}
            <div><h5>#{{p.roll}}: {{p.name}} ({{p.branch}})</h5></div>
        {% endfor %}
    </div>
</div>

{% endblock %}